.header {
    width: 100%;
    height: 400px;
}

.header-banner {
    width: 100%;
    height: 400px;
    overflow: hidden;
}

.banner-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.navbar{
    background-color: #FFFCF6;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navbar img{
    width: 70px;
    height: 70px;
}

.nav-menu ul{
    list-style-type: none;
    display: flex;
    gap: 40px;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;   
}

.nav-item a {
    text-decoration: none;
    color: inherit;
}

.btn {
    background-color: #7E2B98;
    padding: 12px;
    margin: 12px;
    border-radius: 12px;
    color: #FFF;
    display: flex;
    align-items: center;
    gap: 8px;
}

.btn a{
    text-decoration: none;
    color: #FFF;
    text-transform: uppercase;
    font-weight: 600;
}